<?xml version="1.0"?>

        <!--
          For more information on how to configure your ASP.NET application, please visit
          http://go.microsoft.com/fwlink/?LinkId=169433
          -->

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>


    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".fbx" mimeType="vector/vnd.svf" />
            <mimeMap fileExtension=".glb" mimeType="vector/vnd.svf" />
            <mimeMap fileExtension=".usdz" mimeType="vector/vnd.svf" />
        </staticContent>
    </system.webServer>


</configuration>
